<div id="topp">
	<a href="{{ site.baseurl }}/">
		<b> {{site.title}} </b>
	</a>
	<p>{{site.slogan}}</p>
</div>

<div id="header">
	<nav>
		<li class="fork"><a href="{{ site.baseurl }}/">{{site.title}}</a></li>
		{% for item in site.data.nav.toc %}
		<li class="downloads"><a href="{{ item.url }}">{{item.title}}</a></li>
		{% endfor %}
	</nav>
</div>
<!-- end header -->

<!-- SIDENAV -->
<span id="toggler">
	MENU
</span>

<nav id="sidenav">
	<a href="{{ site.baseurl }}/">
		<b> {{site.title}} </b>
	</a>
	{% for item in site.data.nav.toc %}
	<a href="{{ item.url }}">{{item.title}}</a>
	{% endfor %}
</nav>

<!-- overlay -->
<div id="overlay"></div>
