<head>
	<meta charset="utf-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>{{ site.title }} | {{ page.title }}</title>

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css" />

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet"> 
	<link
		rel="stylesheet"
		id="darkcss"
		href="{{ site.baseurl }}/assets/css/dark.css"
	/>

	{% if page.title == "Blog" %}
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	<script>
		if (window.netlifyIdentity) {
			window.netlifyIdentity.on("init", user => {
				if (!user) {
					window.netlifyIdentity.on("login", () => {
						document.location.href = "/admin/";
					});
				}
			});
		}
	</script>
	{% endif %}
</head>
