<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{page.title}} | {{site.title}}</title>
  <link rel="manifest" href="manifest.json" />
  {% seo %}  
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/main.css" />
  <script type="module">
    import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
    const el = document.createElement('pwa-update');
    document.body.appendChild(el);
  </script>
</head>
