<style>
  .social a img:hover {
    transform: scale(1.2);
  }
</style>
<div class="left">
  <img
    src="{{site.data.owner.dp}}"
    alt=""
  />
  <h3>{{site.data.owner.name}}</h3>
  <div class="dmode">
    <img src="{{site.baseurl}}/assets/icons/sun.svg" alt="">
  </div>
  <p class="description">
    {{site.data.owner.description}}
  </p>
  <div style="margin-top: 15px;" class="social">
    {% for link in site.data.owner.contact %}
    <a href="{{link.url}}" target="_blank">
      <img
        style="width: 25px; margin-top: 2px; margin-left: 2px;"
        src="{{site.baseurl}}/assets/png/{{link.title}}.png"
        alt=""
      />
    </a>
    {% endfor %}
  </div>
</div>
