<!-- Bootstrap core JavaScript -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

<script>
	var element = document.getElementById("dlmode");
	function toggle() {
		if (element.classList) {
			if (element.getAttribute("state") == "light") {
				element.innerText = "DARK MODE";
				element.setAttribute("state", "dark");
				element.classList.toggle("btn-dark");
				document.getElementById("darkcss").disabled = false;
				document.cookie = "dark_mode=true";
			} else {
				element.innerText = "LIGHT MODE";
				element.setAttribute("state", "light");
				element.classList.toggle("btn-dark");
				document.getElementById("darkcss").disabled = true;
				document.cookie = "dark_mode=false";
			}
		}
	}

	document.addEventListener("DOMContentLoaded", function() {
		if (getCookie("dark_mode") == "true") {
			element.innerText = "DARK MODE";
			element.setAttribute("state", "dark");
			document.getElementById("darkcss").disabled = false;
			document.cookie = "dark_mode=true";
		}
		if (getCookie("dark_mode") == "false") {
			element.innerText = "LIGHT MODE";
			element.setAttribute("state", "light");
			element.classList.toggle("btn-dark");
			document.getElementById("darkcss").disabled = true;
			document.cookie = "dark_mode=false";
		}
	});

	function getCookie(cname) {
		var name = cname + "=";
		var decodedCookie = decodeURIComponent(document.cookie);
		var ca = decodedCookie.split(";");
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == " ") {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
</script>
