@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat&display=swap');

h1,h2,h3,h4,h5,h6 {
    font-family: 'Major Mono Display' !important;
    font-weight: bold;
}

p,a{
    font-family: 'Montserrat', sans-serif !important;
}



/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'EB Garamond', serif; */
/* font-family: 'IBM Plex Serif', serif; */