<!DOCTYPE html>
<html lang="en">
  {% include head.html%}
  <body>
    {% include nav.html %}
    <br />
    <h1 class="page-title">Posts</h1>
    <main class="post-list">
      {% for post in site.posts %}
      <a href="{{ post.url | relative_url }}" class="post">
        <p class="post-title">{{post.title}}</p>
        <div class="post-bottom">
          <small class="post-date">{{post.date | date_to_string}}</small>
          {% if post.image %}
          <!-- <img class="thumbnail" src="{{ post.image | relative_url }}" alt="" /> -->
          <div
            class="thumbnail"
            style="background-image: url({{ post.image | relative_url }})"
          ></div>
          {% else %}
          <div
            class="thumbnail"
            style="background-image: url({{ '/assets/uploads/default.jpg' | relative_url }})"
          ></div>
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </main>
    {% include footer.html %}
  </body>
</html>
