<!DOCTYPE html>
<html lang="en">
  {% include head.html%}
  <body>
    <style>
      #note_text h1 { font-size: 2.2rem; }
      #note_text h2 { font-size: 2.0rem; }
      #note_text h3 { font-size: 1.8rem; }
      #note_text h4 { font-size: 1.6rem; }
      #note_text h5 { font-size: 1.4rem; }
      #note_text h6 { font-size: 1.2rem; }
    </style>
    {% include nav.html %}
    <div class="bar">
      <h1>Blog / {{page.categories[0] | capitalize }} / {{page.title}}</h1>
    </div>

    <main>
      <div class="post_content">
        <h3 class="post_title">
          {{page.title}}
        </h3>
        <p class="post_meta">
          Posted by <strong>{{page.author}}</strong> on {{ page.date |
          date_to_string }}
        </p>
        <div class="content">
          {% include toc.html html=content %}

          <div id="note_text">
            {{page.content}}
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
