<!DOCTYPE html>
<html lang="en">
  {% include head.html%}
  <body>
    {% include nav.html %}
    <div class="bar">
      <h1>Blog / {{page.categories[0] | capitalize }} / {{page.title}}</h1>
    </div>

    <main>
      <div class="post_content">
        <h3 class="post_title">
          {{page.title}}
        </h3>
        <p class="post_meta">
          Posted by <strong>{{page.author}}</strong> on {{ page.date |
          date_to_string }}
        </p>
        <div class="content">
          {% include toc.html html=content %} {{page.content}}
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
